<div class="ls-platform-badges">
    {{#foreach tags}}
        {{#match slug "steam"}}
            <span class="ls-platform-badge ls-platform-badge--steam">Steam</span>
        {{/match}}
        {{#match slug "itch"}}
            <span class="ls-platform-badge ls-platform-badge--itch">Itch</span>
        {{/match}}
        {{#match slug "coming-soon"}}
            <span class="ls-platform-badge ls-platform-badge--coming-soon">Coming Soon</span>
        {{/match}}
        {{#match slug "ios"}}
            <span class="ls-platform-badge ls-platform-badge--ios">iOS</span>
        {{/match}}
        {{#match slug "android"}}
            <span class="ls-platform-badge ls-platform-badge--android">Android</span>
        {{/match}}
    {{/foreach}}
</div>
